 body{
           background-image: url(backgroundimage.jpg);
           background-size:contain;
           background-repeat:repeat-y;
        }
 header {
  display: block;
  background: #2d6870;
  padding:20px;
 }
 #text
 {
  position:relative;
  background: white;
  color:black;
  padding:50px;
  opacity: 0.8;
  border: 1px solid;
  font-variant:small-caps;
  font-weight:bold;
  
 }
 #photoright{
  position: relative;
  z-index: 100;
  float: right;
  top:60px;
  
 }
 
 .delimiter{
  font-size: 20px;
  color:white;
  position: relative;
  left:2px;
 }
 nav ul{
  list-style: none;
  float: right;
 }
 nav ul li{
  display: inline-block;
  border-collapse: collapse;
  margin: 0px 0px;
}
.link:hover{
 text-decoration: underline;
 line-height: 2px;
 cursor: pointer;
}
article{
 color: 	#2F4F4F;
  font-variant:small-caps;
  font-size: 30px;
}
.h4{
 width: 30%;
 margin:30px auto;
 text-align: center;
}
.card {
    width: 275px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.imgblock{
 position: relative;
 display: block;
 margin:15px auto 25px;
 z-index: 10;
 max-width:80%;
}
div.imgblock img{
 margin: 0 40px;
}
section{
  background: white;
  color:black;
  padding:35px;
  opacity: 0.9;
  border: 1px solid;
 }
 
 fieldset{
     border-radius:20px;
     }
     
     iframe{
      width: auto;
      float: right;
     }
     input[type=text],input[type=email],input[type=tel],textarea
{
    width:40%;
    padding: 8px;
    margin: 5px 0;
    border: 3px solid #708090;
    border-radius: 9px;
}
     
     
 legend{
    font-size: 25px;
    font-weight:bold;
 }
  .center
  {
    margin:0 auto;
    width: 50%;
    text-align: center; 
    
 
 }
button[type=submit]
{
 
    cursor: pointer;  
}

.link{
 display: block;
 padding: 5px 8px;
 font-variant:small-caps;
 font-size: 20px;
 color:white;
 text-decoration: none;
 }
.shift{
 margin: 30px auto;
}
.content{
 width:70%;
 margin: 0 auto;
}
span{
    color: red;
}
div li{
 display: inline-block;
 
}
    